{% load static %}
{% static "" as staticURL %}
<link rel="stylesheet" type="text/css" href="{% static 'predict/style.css' %}">

<body>
<ul class="myul">
  <li class="myli">
    <div class="topleft">
      guesses right: {{ guessRight }}<br>
      guesses wrong: {{ guessWrong }}<br>
      {% if last_game %}
      <p>last match results:</p>

      <p>
      {{ last_game.champName0 }}
      {{ last_game.champName1 }}
      {{ last_game.champName2 }}
      {{ last_game.champName3 }}
      {{ last_game.champName4 }}
      {% if last_game.teamOneWin %}(Victory){% else %}(Defeat){% endif %}
      </p>
      <p>vs</p>
      <p>
      {{ last_game.champName5 }}
      {{ last_game.champName6 }}
      {{ last_game.champName7 }}
      {{ last_game.champName8 }}
      {{ last_game.champName9 }}
      {% if last_game.teamOneWin %}(Defeat){% else %}(Victory){% endif %}
      </p>
      <br>
      {% endif %}
    </div>
    {% if last_game %}
    <div class="dontoverflow">
      <div class="wrap-collabsible">
        <input id="collapsible" class="toggle" type="checkbox">
        <label for="collapsible" class="lbl-toggle">Last Match Details</label>
          <div class="collapsible-content">
           <div class="content-inner">
             <table>
               <tr class="padtr">
                 <td><img src="{{ staticURL }}predict/Champion/{{ last_game.champName0 }}.Png" alt="{{ last_game.champName0 }}" class="smol"></td>
                <td class="myspace"</td>
                 <td><p class="smoler">{{ last_game.name0 }}</p><p class="smoler">{{ last_game.kills0 }}/{{ last_game.death0 }}/{{ last_game.assists0 }}</p></td>
                <td class="myspace"</td>
                 <td><img src="{{ staticURL }}predict/spell/{{ last_game.summonerD0 }}.Png" alt="{{ last_game.summonerD0 }}" class="smoler"><img src="{{ staticURL }}predict/spell/{{ last_game.summonerF0 }}.Png" alt="{{ last_game.summonerF0 }}" class="smoler"></td>
                 <td class="myspace"</td>
                 <td><img src="{{ staticURL }}predict/runes/{{ last_game.runePrimary0 }}.Png" alt="{{ last_game.runePrimary0 }}" class="smoler"> <img src="{{ staticURL }}predict/runes/{{ last_game.runeSecondary0 }}.Png" alt="{{ last_game.runeSecondary0 }}" class="smoler"></td>
                 <td class="myspace"</td>
                 <td><img src="{{ staticURL }}predict/items/{{ last_game.slotAitem0 }}.Png" alt="{{ last_game.slotAitem0 }}" class="smoler"> <img src="{{ staticURL }}predict/items/{{ last_game.slotBitem0 }}.Png" alt="{{ last_game.slotBitem0 }}" class="smoler"></td>
                 <td><img src="{{ staticURL }}predict/items/{{ last_game.slotCitem0 }}.Png" alt="{{ last_game.slotCitem0 }}" class="smoler"> <img src="{{ staticURL }}predict/items/{{ last_game.slotDitem0 }}.Png" alt="{{ last_game.slotDitem0 }}" class="smoler"></td>
                 <td><img src="{{ staticURL }}predict/items/{{ last_game.slotEitem0 }}.Png" alt="{{ last_game.slotEitem0 }}" class="smoler"> <img src="{{ staticURL }}predict/items/{{ last_game.slotFitem0 }}.Png" alt="{{ last_game.slotFitem0 }}" class="smoler"></td>
                 <td class="myspace"</td>
                 <td><p class="smoler">lvl {{ last_game.level0 }}</p><p class="smoler">gold {{ last_game.gold0 }}</p></td>
               </tr>
               <tr class="padtr">
                 <td><img src="{{ staticURL }}predict/Champion/{{ last_game.champName1 }}.Png" alt="{{ last_game.champName1 }}" class="smol"></td>
                <td class="myspace"</td>
                 <td><p class="smoler">{{ last_game.name1 }}</p><p class="smoler">{{ last_game.kills1 }}/{{ last_game.death1 }}/{{ last_game.assists1 }}</p></td>
                <td class="myspace"</td>
                 <td><img src="{{ staticURL }}predict/spell/{{ last_game.summonerD1 }}.Png" alt="{{ last_game.summonerD1 }}" class="smoler"><img src="{{ staticURL }}predict/spell/{{ last_game.summonerF1 }}.Png" alt="{{ last_game.summonerF1 }}" class="smoler"></td>
                 <td class="myspace"</td>
                 <td><img src="{{ staticURL }}predict/runes/{{ last_game.runePrimary1 }}.Png" alt="{{ last_game.runePrimary1 }}" class="smoler"> <img src="{{ staticURL }}predict/runes/{{ last_game.runeSecondary1 }}.Png" alt="{{ last_game.runeSecondary1 }}" class="smoler"></td>
                 <td class="myspace"</td>
                 <td><img src="{{ staticURL }}predict/items/{{ last_game.slotAitem1 }}.Png" alt="{{ last_game.slotAitem1 }}" class="smoler"> <img src="{{ staticURL }}predict/items/{{ last_game.slotBitem1 }}.Png" alt="{{ last_game.slotBitem1 }}" class="smoler"></td>
                 <td><img src="{{ staticURL }}predict/items/{{ last_game.slotCitem1 }}.Png" alt="{{ last_game.slotCitem1 }}" class="smoler"> <img src="{{ staticURL }}predict/items/{{ last_game.slotDitem1 }}.Png" alt="{{ last_game.slotDitem1 }}" class="smoler"></td>
                 <td><img src="{{ staticURL }}predict/items/{{ last_game.slotEitem1 }}.Png" alt="{{ last_game.slotEitem1 }}" class="smoler"> <img src="{{ staticURL }}predict/items/{{ last_game.slotFitem1 }}.Png" alt="{{ last_game.slotFitem1 }}" class="smoler"></td>
                 <td class="myspace"</td>
                 <td><p class="smoler">lvl {{ last_game.level1 }}</p><p class="smoler">gold {{ last_game.gold1 }}</p></td>
               </tr>
               <tr class="padtr">
                 <td><img src="{{ staticURL }}predict/Champion/{{ last_game.champName2 }}.Png" alt="{{ last_game.champName2 }}" class="smol"></td>
                <td class="myspace"</td>
                 <td><p class="smoler">{{ last_game.name2 }}</p><p class="smoler">{{ last_game.kills2 }}/{{ last_game.death2 }}/{{ last_game.assists2 }}</p></td>
                <td class="myspace"</td>
                 <td><img src="{{ staticURL }}predict/spell/{{ last_game.summonerD2 }}.Png" alt="{{ last_game.summonerD2 }}" class="smoler"><img src="{{ staticURL }}predict/spell/{{ last_game.summonerF2 }}.Png" alt="{{ last_game.summonerF2 }}" class="smoler"></td>
                 <td class="myspace"</td>
                 <td><img src="{{ staticURL }}predict/runes/{{ last_game.runePrimary2 }}.Png" alt="{{ last_game.runePrimary2 }}" class="smoler"> <img src="{{ staticURL }}predict/runes/{{ last_game.runeSecondary2 }}.Png" alt="{{ last_game.runeSecondary2 }}" class="smoler"></td>
                 <td class="myspace"</td>
                 <td><img src="{{ staticURL }}predict/items/{{ last_game.slotAitem2 }}.Png" alt="{{ last_game.slotAitem2 }}" class="smoler"> <img src="{{ staticURL }}predict/items/{{ last_game.slotBitem2 }}.Png" alt="{{ last_game.slotBitem2 }}" class="smoler"></td>
                 <td><img src="{{ staticURL }}predict/items/{{ last_game.slotCitem2 }}.Png" alt="{{ last_game.slotCitem2 }}" class="smoler"> <img src="{{ staticURL }}predict/items/{{ last_game.slotDitem2 }}.Png" alt="{{ last_game.slotDitem2 }}" class="smoler"></td>
                 <td><img src="{{ staticURL }}predict/items/{{ last_game.slotEitem2 }}.Png" alt="{{ last_game.slotEitem2 }}" class="smoler"> <img src="{{ staticURL }}predict/items/{{ last_game.slotFitem2 }}.Png" alt="{{ last_game.slotFitem2 }}" class="smoler"></td>
                 <td class="myspace"</td>
                 <td><p class="smoler">lvl {{ last_game.level3 }}</p><p class="smoler">gold {{ last_game.gold3 }}</p></td>
               </tr>
               <tr class="padtr">
                 <td><img src="{{ staticURL }}predict/Champion/{{ last_game.champName3 }}.Png" alt="{{ last_game.champName3 }}" class="smol"></td>
                <td class="myspace"</td>
                 <td><p class="smoler">{{ last_game.name3 }}</p><p class="smoler">{{ last_game.kills3 }}/{{ last_game.death3 }}/{{ last_game.assists3 }}</p></td>
                <td class="myspace"</td>
                 <td><img src="{{ staticURL }}predict/spell/{{ last_game.summonerD3 }}.Png" alt="{{ last_game.summonerD3 }}" class="smoler"><img src="{{ staticURL }}predict/spell/{{ last_game.summonerF3 }}.Png" alt="{{ last_game.summonerF3 }}" class="smoler"></td>
                 <td class="myspace"</td>
                 <td><img src="{{ staticURL }}predict/runes/{{ last_game.runePrimary3 }}.Png" alt="{{ last_game.runePrimary3 }}" class="smoler"> <img src="{{ staticURL }}predict/runes/{{ last_game.runeSecondary3 }}.Png" alt="{{ last_game.runeSecondary3 }}" class="smoler"></td>
                 <td class="myspace"</td>
                 <td><img src="{{ staticURL }}predict/items/{{ last_game.slotAitem3 }}.Png" alt="{{ last_game.slotAitem3 }}" class="smoler"> <img src="{{ staticURL }}predict/items/{{ last_game.slotBitem3 }}.Png" alt="{{ last_game.slotBitem3 }}" class="smoler"></td>
                 <td><img src="{{ staticURL }}predict/items/{{ last_game.slotCitem3 }}.Png" alt="{{ last_game.slotCitem3 }}" class="smoler"> <img src="{{ staticURL }}predict/items/{{ last_game.slotDitem3 }}.Png" alt="{{ last_game.slotDitem3 }}" class="smoler"></td>
                 <td><img src="{{ staticURL }}predict/items/{{ last_game.slotEitem3 }}.Png" alt="{{ last_game.slotEitem3 }}" class="smoler"> <img src="{{ staticURL }}predict/items/{{ last_game.slotFitem3 }}.Png" alt="{{ last_game.slotFitem3 }}" class="smoler"></td>
                 <td class="myspace"</td>
                 <td><p class="smoler">lvl {{ last_game.level4 }}</p><p class="smoler">gold {{ last_game.gold4 }}</p></td>
               </tr>
               <tr class="padtr">
                 <td><img src="{{ staticURL }}predict/Champion/{{ last_game.champName4 }}.Png" alt="{{ last_game.champName4 }}" class="smol"></td>
                <td class="myspace"</td>
                 <td><p class="smoler">{{ last_game.name4 }}</p><p class="smoler">{{ last_game.kills4 }}/{{ last_game.death4 }}/{{ last_game.assists4 }}</p></td>
                <td class="myspace"</td>
                 <td><img src="{{ staticURL }}predict/spell/{{ last_game.summonerD4 }}.Png" alt="{{ last_game.summonerD4 }}" class="smoler"><img src="{{ staticURL }}predict/spell/{{ last_game.summonerF4 }}.Png" alt="{{ last_game.summonerF4 }}" class="smoler"></td>
                 <td class="myspace"</td>
                 <td><img src="{{ staticURL }}predict/runes/{{ last_game.runePrimary4 }}.Png" alt="{{ last_game.runePrimary4 }}" class="smoler"> <img src="{{ staticURL }}predict/runes/{{ last_game.runeSecondary4 }}.Png" alt="{{ last_game.runeSecondary4 }}" class="smoler"></td>
                 <td class="myspace"</td>
                 <td><img src="{{ staticURL }}predict/items/{{ last_game.slotAitem4 }}.Png" alt="{{ last_game.slotAitem4 }}" class="smoler"> <img src="{{ staticURL }}predict/items/{{ last_game.slotBitem4 }}.Png" alt="{{ last_game.slotBitem4 }}" class="smoler"></td>
                 <td><img src="{{ staticURL }}predict/items/{{ last_game.slotCitem4 }}.Png" alt="{{ last_game.slotCitem4 }}" class="smoler"> <img src="{{ staticURL }}predict/items/{{ last_game.slotDitem4 }}.Png" alt="{{ last_game.slotDitem4 }}" class="smoler"></td>
                 <td><img src="{{ staticURL }}predict/items/{{ last_game.slotEitem4 }}.Png" alt="{{ last_game.slotEitem4 }}" class="smoler"> <img src="{{ staticURL }}predict/items/{{ last_game.slotFitem4 }}.Png" alt="{{ last_game.slotFitem4 }}" class="smoler"></td>
                 <td class="myspace"</td>
                 <td><p class="smoler">lvl {{ last_game.level5 }}</p><p class="smoler">gold {{ last_game.gold5 }}</p></td>
               </tr>
                <td>
                  <p class="smoler">{% if last_game.teamOneWin %}Victory{% else %}Defeat{% endif %}</p>
                  <p class="smoler" >{% if last_game.teamOneWin %}Defeat{% else %}Victory{% endif %}</p>
                </td>
               <tr class="padtr">
                 <td><img src="{{ staticURL }}predict/Champion/{{ last_game.champName5 }}.Png" alt="{{ last_game.champName5 }}" class="smol"></td>
                <td class="myspace"</td>
                 <td><p class="smoler">{{ last_game.name5 }}</p><p class="smoler">{{ last_game.kills5 }}/{{ last_game.death5 }}/{{ last_game.assists5 }}</p></td>
                <td class="myspace"</td>
                 <td><img src="{{ staticURL }}predict/spell/{{ last_game.summonerD5 }}.Png" alt="{{ last_game.summonerD5 }}" class="smoler"><img src="{{ staticURL }}predict/spell/{{ last_game.summonerF5 }}.Png" alt="{{ last_game.summonerF5 }}" class="smoler"></td>
                 <td class="myspace"</td>
                 <td><img src="{{ staticURL }}predict/runes/{{ last_game.runePrimary5 }}.Png" alt="{{ last_game.runePrimary5 }}" class="smoler"> <img src="{{ staticURL }}predict/runes/{{ last_game.runeSecondary5 }}.Png" alt="{{ last_game.runeSecondary5 }}" class="smoler"></td>
                 <td class="myspace"</td>
                 <td><img src="{{ staticURL }}predict/items/{{ last_game.slotAitem5 }}.Png" alt="{{ last_game.slotAitem5 }}" class="smoler"> <img src="{{ staticURL }}predict/items/{{ last_game.slotBitem5 }}.Png" alt="{{ last_game.slotBitem5 }}" class="smoler"></td>
                 <td><img src="{{ staticURL }}predict/items/{{ last_game.slotCitem5 }}.Png" alt="{{ last_game.slotCitem5 }}" class="smoler"> <img src="{{ staticURL }}predict/items/{{ last_game.slotDitem5 }}.Png" alt="{{ last_game.slotDitem5 }}" class="smoler"></td>
                 <td><img src="{{ staticURL }}predict/items/{{ last_game.slotEitem5 }}.Png" alt="{{ last_game.slotEitem5 }}" class="smoler"> <img src="{{ staticURL }}predict/items/{{ last_game.slotFitem5 }}.Png" alt="{{ last_game.slotFitem5 }}" class="smoler"></td>
                 <td class="myspace"</td>
                 <td><p class="smoler">lvl {{ last_game.level6 }}</p><p class="smoler">gold {{ last_game.gold6 }}</p></td>
               </tr>
               <tr class="padtr">
                 <td><img src="{{ staticURL }}predict/Champion/{{ last_game.champName6 }}.Png" alt="{{ last_game.champName6 }}" class="smol"></td>
                <td class="myspace"</td>
                 <td><p class="smoler">{{ last_game.name6 }}</p><p class="smoler">{{ last_game.kills6 }}/{{ last_game.death6 }}/{{ last_game.assists6 }}</p></td>
                <td class="myspace"</td>
                 <td><img src="{{ staticURL }}predict/spell/{{ last_game.summonerD6 }}.Png" alt="{{ last_game.summonerD6 }}" class="smoler"><img src="{{ staticURL }}predict/spell/{{ last_game.summonerF6 }}.Png" alt="{{ last_game.summonerF6 }}" class="smoler"></td>
                 <td class="myspace"</td>
                 <td><img src="{{ staticURL }}predict/runes/{{ last_game.runePrimary6 }}.Png" alt="{{ last_game.runePrimary6 }}" class="smoler"> <img src="{{ staticURL }}predict/runes/{{ last_game.runeSecondary6 }}.Png" alt="{{ last_game.runeSecondary6 }}" class="smoler"></td>
                 <td class="myspace"</td>
                 <td><img src="{{ staticURL }}predict/items/{{ last_game.slotAitem6 }}.Png" alt="{{ last_game.slotAitem6 }}" class="smoler"> <img src="{{ staticURL }}predict/items/{{ last_game.slotBitem6 }}.Png" alt="{{ last_game.slotBitem6 }}" class="smoler"></td>
                 <td><img src="{{ staticURL }}predict/items/{{ last_game.slotCitem6 }}.Png" alt="{{ last_game.slotCitem6 }}" class="smoler"> <img src="{{ staticURL }}predict/items/{{ last_game.slotDitem6 }}.Png" alt="{{ last_game.slotDitem6 }}" class="smoler"></td>
                 <td><img src="{{ staticURL }}predict/items/{{ last_game.slotEitem6 }}.Png" alt="{{ last_game.slotEitem6 }}" class="smoler"> <img src="{{ staticURL }}predict/items/{{ last_game.slotFitem6 }}.Png" alt="{{ last_game.slotFitem6 }}" class="smoler"></td>
                 <td class="myspace"</td>
                 <td><p class="smoler">lvl {{ last_game.level7 }}</p><p class="smoler">gold {{ last_game.gold7 }}</p></td>
               </tr>
               <tr class="padtr">
                 <td><img src="{{ staticURL }}predict/Champion/{{ last_game.champName7 }}.Png" alt="{{ last_game.champName7 }}" class="smol"></td>
                <td class="myspace"</td>
                 <td><p class="smoler">{{ last_game.name7 }}</p><p class="smoler">{{ last_game.kills7 }}/{{ last_game.death7 }}/{{ last_game.assists7 }}</p></td>
                <td class="myspace"</td>
                 <td><img src="{{ staticURL }}predict/spell/{{ last_game.summonerD7 }}.Png" alt="{{ last_game.summonerD7 }}" class="smoler"><img src="{{ staticURL }}predict/spell/{{ last_game.summonerF7 }}.Png" alt="{{ last_game.summonerF7 }}" class="smoler"></td>
                 <td class="myspace"</td>
                 <td><img src="{{ staticURL }}predict/runes/{{ last_game.runePrimary7 }}.Png" alt="{{ last_game.runePrimary7 }}" class="smoler"> <img src="{{ staticURL }}predict/runes/{{ last_game.runeSecondary7 }}.Png" alt="{{ last_game.runeSecondary7 }}" class="smoler"></td>
                 <td class="myspace"</td>
                 <td><img src="{{ staticURL }}predict/items/{{ last_game.slotAitem7 }}.Png" alt="{{ last_game.slotAitem7 }}" class="smoler"> <img src="{{ staticURL }}predict/items/{{ last_game.slotBitem7 }}.Png" alt="{{ last_game.slotBitem7 }}" class="smoler"></td>
                 <td><img src="{{ staticURL }}predict/items/{{ last_game.slotCitem7 }}.Png" alt="{{ last_game.slotCitem7 }}" class="smoler"> <img src="{{ staticURL }}predict/items/{{ last_game.slotDitem7 }}.Png" alt="{{ last_game.slotDitem7 }}" class="smoler"></td>
                 <td><img src="{{ staticURL }}predict/items/{{ last_game.slotEitem7 }}.Png" alt="{{ last_game.slotEitem7 }}" class="smoler"> <img src="{{ staticURL }}predict/items/{{ last_game.slotFitem7 }}.Png" alt="{{ last_game.slotFitem7 }}" class="smoler"></td>
                 <td class="myspace"</td>
                 <td><p class="smoler">lvl {{ last_game.level8 }}</p><p class="smoler">gold {{ last_game.gold8 }}</p></td>
               </tr>
               <tr class="padtr">
                 <td><img src="{{ staticURL }}predict/Champion/{{ last_game.champName8 }}.Png" alt="{{ last_game.champName8 }}" class="smol"></td>
                <td class="myspace"</td>
                 <td><p class="smoler">{{ last_game.name8 }}</p><p class="smoler">{{ last_game.kills8 }}/{{ last_game.death8 }}/{{ last_game.assists8 }}</p></td>
                <td class="myspace"</td>
                 <td><img src="{{ staticURL }}predict/spell/{{ last_game.summonerD8 }}.Png" alt="{{ last_game.summonerD8 }}" class="smoler"><img src="{{ staticURL }}predict/spell/{{ last_game.summonerF8 }}.Png" alt="{{ last_game.summonerF8 }}" class="smoler"></td>
                 <td class="myspace"</td>
                 <td><img src="{{ staticURL }}predict/runes/{{ last_game.runePrimary8 }}.Png" alt="{{ last_game.runePrimary8 }}" class="smoler"> <img src="{{ staticURL }}predict/runes/{{ last_game.runeSecondary8 }}.Png" alt="{{ last_game.runeSecondary8 }}" class="smoler"></td>
                 <td class="myspace"</td>
                 <td><img src="{{ staticURL }}predict/items/{{ last_game.slotAitem8 }}.Png" alt="{{ last_game.slotAitem8 }}" class="smoler"> <img src="{{ staticURL }}predict/items/{{ last_game.slotBitem8 }}.Png" alt="{{ last_game.slotBitem8 }}" class="smoler"></td>
                 <td><img src="{{ staticURL }}predict/items/{{ last_game.slotCitem8 }}.Png" alt="{{ last_game.slotCitem8 }}" class="smoler"> <img src="{{ staticURL }}predict/items/{{ last_game.slotDitem8 }}.Png" alt="{{ last_game.slotDitem8 }}" class="smoler"></td>
                 <td><img src="{{ staticURL }}predict/items/{{ last_game.slotEitem8 }}.Png" alt="{{ last_game.slotEitem8 }}" class="smoler"> <img src="{{ staticURL }}predict/items/{{ last_game.slotFitem8 }}.Png" alt="{{ last_game.slotFitem8 }}" class="smoler"></td>
                 <td class="myspace"</td>
                 <td><p class="smoler">lvl {{ last_game.level8 }}</p><p class="smoler">gold {{ last_game.gold8 }}</p></td>
               </tr>
               <tr class="padtr">
                 <td><img src="{{ staticURL }}predict/Champion/{{ last_game.champName9 }}.Png" alt="{{ last_game.champName9 }}" class="smol"></td>
                <td class="myspace"</td>
                 <td><p class="smoler">{{ last_game.name9 }}</p><p class="smoler">{{ last_game.kills9 }}/{{ last_game.death9 }}/{{ last_game.assists9 }}</p></td>
                <td class="myspace"</td>
                 <td><img src="{{ staticURL }}predict/spell/{{ last_game.summonerD9 }}.Png" alt="{{ last_game.summonerD9 }}" class="smoler"><img src="{{ staticURL }}predict/spell/{{ last_game.summonerF9 }}.Png" alt="{{ last_game.summonerF9 }}" class="smoler"></td>
                 <td class="myspace"</td>
                 <td><img src="{{ staticURL }}predict/runes/{{ last_game.runePrimary9 }}.Png" alt="{{ last_game.runePrimary9 }}" class="smoler"> <img src="{{ staticURL }}predict/runes/{{ last_game.runeSecondary9 }}.Png" alt="{{ last_game.runeSecondary9 }}" class="smoler"></td>
                 <td class="myspace"</td>
                 <td><img src="{{ staticURL }}predict/items/{{ last_game.slotAitem9 }}.Png" alt="{{ last_game.slotAitem9 }}" class="smoler"> <img src="{{ staticURL }}predict/items/{{ last_game.slotBitem9 }}.Png" alt="{{ last_game.slotBitem9 }}" class="smoler"></td>
                 <td><img src="{{ staticURL }}predict/items/{{ last_game.slotCitem9 }}.Png" alt="{{ last_game.slotCitem9 }}" class="smoler"> <img src="{{ staticURL }}predict/items/{{ last_game.slotDitem9 }}.Png" alt="{{ last_game.slotDitem9 }}" class="smoler"></td>
                 <td><img src="{{ staticURL }}predict/items/{{ last_game.slotEitem9 }}.Png" alt="{{ last_game.slotEitem9 }}" class="smoler"> <img src="{{ staticURL }}predict/items/{{ last_game.slotFitem9 }}.Png" alt="{{ last_game.slotFitem9 }}" class="smoler"></td>
                 <td class="myspace"</td>
                 <td><p class="smoler">lvl {{ last_game.level9 }}</p><p class="smoler">gold {{ last_game.gold9 }}</p></td>
               </tr>
             </table>
           </div>
         </div>
       </div>
    </div>
    {% endif %}
  </li>
  <li class="myli">
    <table class="center">
      <tr><div class="centerText">Guess which team wins</div><tr>
      <tr>
        <td><img src="{{ staticURL }}predict/Champion/{{ new_game.champName0 }}.Png" alt="{{ new_game.champName0 }}"></td>
        <td></td>
        <td><img src="{{ staticURL }}predict/Champion/{{ new_game.champName5 }}.Png" alt="{{ new_game.champName5 }}"></td>
      </tr>
      <tr>
        <td><img src="{{ staticURL }}predict/Champion/{{ new_game.champName1 }}.Png" alt="{{ new_game.champName1 }}"></td>
        <td></td>
        <td><img src="{{ staticURL }}predict/Champion/{{ new_game.champName6 }}.Png" alt="{{ new_game.champName6 }}"></td>
      </tr>
      <tr>
        <td><img src="{{ staticURL }}predict/Champion/{{ new_game.champName2 }}.Png" alt="{{ new_game.champName2 }}"></td>
        <td class="pad">vs</td>
        <td><img src="{{ staticURL }}predict/Champion/{{ new_game.champName7 }}.Png" alt="{{ new_game.champName7 }}"></td>
      </tr>
      <tr>
        <td><img src="{{ staticURL }}predict/Champion/{{ new_game.champName3 }}.Png" alt="{{ new_game.champName3 }}"></td>
        <td></td>
        <td><img src="{{ staticURL }}predict/Champion/{{ new_game.champName8 }}.Png" alt="{{ new_game.champName8 }}"></td>
      </tr>
      <tr>
        <td><img src="{{ staticURL }}predict/Champion/{{ new_game.champName4 }}.Png" alt="{{ new_game.champName4 }}"></td>
        <td></td>
        <td><img src="{{ staticURL }}predict/Champion/{{ new_game.champName9 }}.Png" alt="{{ new_game.champName9 }}"></td>
      </tr>
      <tr>
        <td><a href="{% url 'guess1'%}{{ new_game.id }}/1/{{ guessRight }}/{{ guessWrong }}" class="button-85">predict win:<br>{{ new_game.champName0 }}<br>{{ new_game.champName1 }}<br>{{ new_game.champName2 }}<br>{{ new_game.champName3 }}<br>{{ new_game.champName4 }}</a></td>
        <td></td>
        <td><a href="{% url 'guess1'%}{{ new_game.id }}/0/{{ guessRight }}/{{ guessWrong }}" class="button-85">predict win:<br>{{ new_game.champName5 }}<br>{{ new_game.champName6 }}<br>{{ new_game.champName7 }}<br>{{ new_game.champName8 }}<br>{{ new_game.champName9 }}</a></td>
      </tr>
    </table>
  </li>
  <li class="myli">
    <div class="topright">
    {% if user.is_authenticated %}
    <a href="{% url 'logout'%}?next={{request.path}}" class="button-4" role="button">Logout</a>
    <br>{{ user.get_username }}
    {% else %}
    <a href="{% url 'login'%}?next={{request.path}}" class="button-4" role="button">Login</a>
    {% endif %}
    <br>
    <br>
    <a href="{% url 'register'%}">register</a>
    <br>
    <a href="{% url 'leaderboard'%}">leaderboard</a>
    <br>
    <a href="{% url 'about'%}">about</a>
    <br>
    <a href="https://www.youtube.com/watch?v=WIOh512j8XM">♫ unknown damage ♫</a>
    </div>
  </li class="myli">
</ul>
